header{background: var(--theme-red);}
header  .nav-logo{max-width: 125px;}
header .part1 a{text-decoration: none;color: #fff;font-size: 2rem;}

header .part1{font-weight: 700;}

/* header .part2{ }
header .part2 ul li .list-inline-item{margin: 0!important;} */
/* header .part2{padding: 0;} */
header .part2 ul li .highlight{background-color: #fff;color: var(--theme-red);border-radius: 30px;border: 1px solid white;}
header .part2 ul li .highlight:hover{background-color: var(--theme-red);color: #fff;}

/* .nav{padding: 5px;color: white;text-decoration: none;} */
header .part2  ul {padding: 0;margin: 0;list-style: none; display: flex;gap: 1rem}
header .part2 ul li { padding: 0;font-weight: 700;width: auto!important;}
header .part2 ul li a{ padding: 8px 10px; border-radius: 30px;font-size: 22px; color: white;text-decoration: none;text-transform: capitalize;}
header .part2 ul li a:hover{background:#fff;color:var(--theme-red);}
header .part2 ul li a.active{ background: var(--btnBg);color: var(--secondary-color);}
header .part2 ul li a.active:hover{ background: transparent; color:var(--btnBg) ;border: 1px solid var(--btnBg) ;}

@media only screen and (max-width:992px) {
    header  .nav-logo{max-width: 90px;}
    header .part1 a{font-size: 1.7rem;}
    header .part2 ul li a{ font-size: 20px;padding: 8px 5px;}
  }

  @media only screen and (max-width:778px) {
    header  .nav-logo{max-width: 60px;}
    header .part1 a{font-size: 1.5rem;}
    header .part2 ul li a{ font-size: 20px;padding: 8px 5px;}

    header .part1{width: 60%;}

    header .part2 {width: 40%;text-decoration: none;color: #fff;}
    header .part2 .signinBtn{font-size:1.3rem;text-transform: uppercase;font-weight: 600;}
    header .part2 .navbarToggle{  justify-content: flex-end;}
  }