@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inria Sans',sans-serif;
}

:root{
  /* CSS HEX */
  --sky-blue: #9DE4EC;
  --blue-green: #9DE4EC;
  --dark-blue: rgb(9, 0, 49);
  --selective-yellow: #e4a476;
  --theme-red: #831619;
  --theme-dark:#2E0708;


--primary-color:#fff;
--secondary-color:var(--theme-red);
--greyText:grey;
--blackColor:black;
// --btnBg:var(--blue-green);
--btnBg:#fa5c80;
--anchorText:#fa5c80;
--highlight:var(--theme-red);
--contrastBg:var(--theme-blue);
}

